<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="selected==null">  
        <div class="header">
          <h2 class="title">Configurations</h2>
          <p class="category">list if all configurations</p>
        </div>
        <div class="content">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="goToConfig('departments')">
                <td>1</td>
                <td>Departments</td>
              </tr>          
<!--               <tr (click)="goToConfig('facilities')">
                <td>2</td>
                <td>Facilities</td>
              </tr>          
              <tr (click)="goToConfig('facilitytype')">
                <td>3</td>
                <td>Facility Types</td>
              </tr>   -->        
              <tr (click)="goToConfig('meditype')">
                <td>2</td>
                <td>Medicine Types</td>
              </tr>          
              <tr (click)="goToConfig('mediunit')">
                <td>3</td>
                <td>Medicine Unit</td>
              </tr>          
              <tr (click)="goToConfig('mediunitmeasure')">
                <td>4</td>
                <td>Medicine Measurement Unit</td>
              </tr>          
              <tr (click)="goToConfig('tehsils')">
                <td>5</td>
                <td>Tehsils</td>
              </tr>
              <tr (click)="goToConfig('districts')">
                <td>6</td>
                <td>Districts</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



      <!-- Districts start -->
      <div class="row districts" *ngIf="selected=='districts'">
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h2 class="title">Add District</h2>
              <p class="category">add a new district</p>
            </div>
            <div class="content">
              <form [formGroup]="addDistrictForm" (ngSubmit)="addDistrict(addDistrictForm.value, $event)">
                <div class="form-group">
                  <label for="name">District Name</label>
                  <input [formControl]="addDistrictForm.controls['name']" class="form-control border-input" id="name" placeholder="Enter Here"/>
                </div>
                <div class="form-group">
                  <!-- <label for="zone">Select A Zone</label> -->
                  <select [formControl]="addDistrictForm.controls['zone']" class="form-control border-input" formControlName="zone" id="zone">
                    <option value="">Select Zone</option>
                    <option [value]="zone.name" *ngFor="let zone of allZones">{{zone.name}}</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-fill btn-info" [disabled]="!addDistrictForm.valid"><i class="ti-plus"></i>Add</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h2 class="title">Districts<button (click)="goBack()" class="btn btn-danger btn-fill pull-right"><span class="ti-angle-left"></span> Back</button></h2>
              <p class="category">List of all districts</p>
            </div>
            <div class="content">
              <div class="input-group border-input form-group">
                <div class="input-group-addon"><span class="ti-search"></span></div>
                <input class="form-control border-input" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Zone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let district of allDistricts | dataFilter:filterQuery; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{district.name}}</td>
                    <td>{{district.zone}}</td>
                    <!-- <td><span (click)="showEditDistrictModal(district.name, district._id);" class="glyphicon glyphicon-edit"></span></td> -->
                  </tr>
                </tbody>
              </table>           
            </div>
          </div>
        </div>        
      </div><!-- Districts Ends -->

      <!-- Depatments Starts -->
      <div class="row departments" *ngIf="selected=='departments'">
        
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h2 class="title">Add Department</h2>
              <p class="category">add a new department</p>
            </div>
            <div class="content">
              <form class="addconfigform" (ngSubmit)="addNewDep(newConfigForm.value, $event)" [formGroup]="newConfigForm">
                <div class="form-group">
                  <input type="text" class="form-control border-input" [formControl]="newConfigForm.controls['name']" formControlName="name" placeholder="New Depatment Name">
                </div>
                <button [disabled]="!newConfigForm.valid" class="btn btn-fill btn-success" type="submit"><i class="ti-plus"></i> Add</button>
              </form>
            </div>          
          </div>   
        </div>    

        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h2 class="title">Departments<button (click)="goBack()" class="btn btn-danger btn-fill pull-right"><i class="ti-angle-left"></i> Back</button></h2>
              <p class="category">list of all departments</p>
            </div>
            <div class="content">
              <div class="input-group form-group">
                <div class="input-group-addon"><i class="ti-search"></i></div>
                <input class="form-control" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let department of allDepartments | dataFilter:filterQuery; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{department.name}}</td>
                    <td><i (click)="showEditDepModal(department.name, department._id, allConfigs._id);" class="ti-pencil-alt"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>        
          </div>
        </div>

      </div>

      <div class="modal fade" [config]="{backdrop: 'static', keyboard: false}" bsModal #editDepModal="bs-modal" tabindex="-1" role="dialog"
           aria-labelledby="myDepModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="card">
            <div class="header">
              <h4 class="title">Edit Department<button type="button" class="close pull-right" aria-label="Close" (click)="hideEditDepModal()">
                <span aria-hidden="true">&times;</span>
              </button></h4>
            </div>
            <div class="content">
              <form (ngSubmit)="editDepartment(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  <input class="form-control border-input" placeholder="Enter new name" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-fill" [disabled]="!editConfigForm.valid" (click)="hideEditDepModal()" type="submit"> 
                    <i class="ti-check"></i>update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- Departments Ends -->

      <!-- Facilities Start -->
      <div class="facilities" *ngIf="selected=='facilities'">
        <h2 class="page-header">Facilities<button (click)="goBack()" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
        </h2>

        <div class="input-group form-group">
          <div class="input-group-addon"><i class="ti-search"></i></div>
          <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
        </div>

        <form class="addconfigform" (ngSubmit)="addNewFacility(newConfigForm.value, $event)" [formGroup]="newConfigForm">
          <div class="input-group addconfig">
            <input type="text" class="form-control" [formControl]="newConfigForm.controls['name']" formControlName="name" placeholder="New Facility Name" aria-describedby="basic-addon2">
            <span class="input-group-btn" id="basic-addon2"><button [disabled]="!newConfigForm.valid" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span> Add Facility</button></span>
          </div>
        </form>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let facility of allConfigs.facilities | dataFilter:filterQuery; let i=index;">
              <td>{{i+1}}</td>
              <td>{{facility.name}}</td>
              <td><span (click)="showEditFacilityModal(facility.name, facility._id, allConfigs._id);" class="glyphicon glyphicon-edit"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal fade" bsModal #editFacilityModal="bs-modal" tabindex="-1" role="dialog"
         aria-labelledby="mytehsilModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edit Entry</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditFacilityModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="editFacility(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  
                  <input class="form-control" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                  <button class="btn btn-success btn-block" (click)="hideEditFacilityModal()" type="submit"> update</button>
              </form>
            </div>
          </div>
        </div>
      </div>      
      <!-- Facilities Ends -->

      <!-- Tehsils Starts -->
      <div class="row tehsils" *ngIf="selected=='tehsils'">

        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h2 class="title">Add Tehsil</h2>
              <p class="category">add a new Tehsil</p>
            </div>
            <div class="content">
              <form [formGroup]="addTehsilForm" (ngSubmit)="addNewTehsil(addTehsilForm.value, $event)">
                <div class="form-group">
                  <label for="name">Tehsil Name</label>
                  <input [formControl]="addTehsilForm.controls['name']" class="form-control border-input" id="name" placeholder="Enter Here"/>
                </div>
                <div class="form-group">
                  <!-- <label for="zone">Select A Zone</label> -->
                  <select [formControl]="addTehsilForm.controls['district']" class="form-control border-input" formControlName="district" id="district">
                    <option value="">Select District</option>
                    <option [value]="district.name" *ngFor="let district of allDistricts">{{district.name}}</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-fill btn-info" [disabled]="!addTehsilForm.valid"><i class="ti-plus"></i>Add</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h2 class="title">Tehsils<button (click)="goBack()" class="btn btn-danger btn-fill pull-right"><i class="ti-angle-left"></i> Back</button></h2>
              <p class="category">list of all Tehsils</p>
            </div>
            <div class="content">
              <div class="input-group form-group">
                <div class="input-group-addon"><i class="ti-search"></i></div>
                <input class="form-control" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>District</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tehsil of allTehsils | dataFilter:filterQuery; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{tehsil.name}}</td>
                    <td>{{tehsil.district}}</td>
  <!--                   <td><span (click)="showEditTehsilModal(tehsil.name, tehsil._id, allConfigs._id);" class="glyphicon glyphicon-edit"></span></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <!-- Edit tehsil modal -->
      <div class="modal fade" [config]="{backdrop: 'static', keyboard: false}" bsModal #editTehsilModal="bs-modal" tabindex="-1" role="dialog"
         aria-labelledby="mytehsilModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edit Entry</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditTehsilModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="editTehsil(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  
                  <input class="form-control" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                  <button class="btn btn-success btn-block" (click)="hideEditTehsilModal()" type="submit"> update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Edit Tehsil Model Ends -->

      <!-- Tehsils ends -->

      <!-- Facility Type starts -->
      <div class="facilitytype" *ngIf="selected=='facilitytype'">
        <h2 class="page-header">Facility Types<button (click)="goBack()" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
        </h2>

        <div class="input-group form-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
        </div>

        <form class="addconfigform" (ngSubmit)="addNewFacilType(newConfigForm.value, $event)" [formGroup]="newConfigForm">
          <div class="input-group addconfig">
            <input type="text" class="form-control" [formControl]="newConfigForm.controls['name']" formControlName="name" placeholder="New Facility Type Name" aria-describedby="basic-addon2">
            <span class="input-group-btn" id="basic-addon2"><button [disabled]="!newConfigForm.valid" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span> Add Facility</button></span>
          </div>
        </form>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let type of allConfigs.facilitytype | dataFilter:filterQuery; let i=index;">
              <td>{{i+1}}</td>
              <td>{{type.name}}</td>
              <td><span (click)="showEditFacilTypeModal(type.name, type._id, allConfigs._id);" class="glyphicon glyphicon-edit"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Facility Type starts Ends -->
      <!-- Facility Type modal starts -->
      <div class="modal fade" bsModal #editFacilTypeModal="bs-modal" tabindex="-1" role="dialog"
           aria-labelledby="myDepModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Modal</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditFacilTypeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="editFacilType(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  
                  <input class="form-control" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                  <button class="btn btn-success btn-block" (click)="hideEditFacilTypeModal()" type="submit"> update</button>
              </form>
            </div>
          </div>
        </div>
      </div>      
      <!-- Facility Type modal ends -->

      <!-- Medi type starts -->
      <div class="row meditype" *ngIf="selected=='meditype'">
        
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h2 class="title">New Medicine Type</h2>
              <p class="category">add a new medicine types</p>
            </div>
            <div class="content">
              <form class="addconfigform" (ngSubmit)="addNewMediType(newConfigForm.value, $event)" [formGroup]="newConfigForm">
                <div class="form-group">
                  <input type="text" class="form-control border-input" [formControl]="newConfigForm.controls['name']" formControlName="name" placeholder="New Medicine Type Name" />
                </div>
                <div class="form-group">
                  <button [disabled]="!newConfigForm.valid" class="btn btn-fill btn-success" type="submit"><i class="ti-plus"></i> Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h2 class="title">Medicine Types<button (click)="goBack()" class="btn btn-danger btn-fill pull-right"><i class="ti-angle-left"></i> Back</button>
              </h2>
              <p class="category">list of all medicine types</p>
            </div>
            <div class="content">
              <div class="input-group form-group">
                <div class="input-group-addon"><i class="ti-search"></i></div>
                <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let type of allMediType | dataFilter:filterQuery; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{type.name}}</td>
                    <td><i (click)="showEditMediTypeModal(type.name, type._id, allConfigs._id);" class="ti-pencil-alt"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>

      </div>
      <!-- Medi type configs ends -->
      <!-- MEDI TYPE  MODAL -->
      <div class="modal fade" [config]="{backdrop: 'static', keyboard: false}" bsModal #editMediTypeModal="bs-modal" tabindex="-1" role="dialog"
           aria-labelledby="myDepModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="card">
            <div class="header">
              <h4 class="title pull-left">Edit Entry</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditMediTypeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="content">
              <form (ngSubmit)="editMediType(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  
                  <input class="form-control" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                  <button class="btn btn-success btn-block" (click)="hideEditMediTypeModal()" type="submit"> update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- MEDI TYPE MODAL ENDS -->

      <!-- Medi unit starts -->
      <div class="row mediunit" *ngIf="selected=='mediunit'">
        
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h2 class="title">New Medicine Unit</h2>
              <p class="category">add a new medicine unit</p>
            </div>
            <div class="content">
              <form class="addconfigform" (ngSubmit)="addNewMediUnit(newConfigForm.value, $event)" [formGroup]="newConfigForm">
                <div class="form-group">
                  <input type="text" class="form-control" [formControl]="newConfigForm.controls['name']" formControlName="name" placeholder="New Medicine Unit Name">
                </div>
                <div class="form-group">
                  <button [disabled]="!newConfigForm.valid" class="btn btn-fill btn-success" type="submit"><i class="ti-plus"></i> Add</button>
                </div>
              </form>
            </div>
          </div>  
        </div>  

        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h2 class="title">Medicine Units<button (click)="goBack()" class="btn btn-danger btn-fill pull-right"><i class="ti-angle-left"></i> Back</button>
              </h2>
              <p class="category">list of all medicine units</p>
            </div>
            <div class="content">
              <div class="input-group form-group">
                <div class="input-group-addon"><i class="ti-search"></i></div>
                <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let unit of allMediUnit | dataFilter:filterQuery; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{unit.name}}</td>
                    <td><i (click)="showEditMediUnitModal(unit.name, unit._id, allConfigs._id);" class="ti-pencil-alt"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- Medi unit ends -->
      <!-- Medi unit modal starts -->
      <div class="modal fade" [config]="{backdrop: 'static', keyboard: false}" bsModal #editMediUnitModal="bs-modal" tabindex="-1" role="dialog"
           aria-labelledby="myDepModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="card">
            <div class="header">
              <h4 class="title pull-left">Edit Entry</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditMediUnitModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="content">
              <form (ngSubmit)="editMediUnit(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  
                  <input class="form-control" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                  <button class="btn btn-success btn-block" (click)="hideEditMediUnitModal()" type="submit"> update</button>
              </form>
            </div>
          </div>
        </div>
      </div>      
      <!-- Medi unit modal ends -->

      <!-- Medi Measure unit starts -->
      <div class="row mediunitmeasure" *ngIf="selected=='mediunitmeasure'">
        
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h2 class="title">Add new Unit</h2>
              <p class="category">add a new measurement unit</p>  
            </div>
            <div class="content">
              <form class="addconfigform" (ngSubmit)="addNewMesUnit(newConfigForm.value, $event)" [formGroup]="newConfigForm">
                <div class="form-group">
                  <input type="text" class="form-control border-input" [formControl]="newConfigForm.controls['name']" formControlName="name" placeholder="New Medicine Measurement Name" />
                </div>
                <div class="form-group">
                  <button [disabled]="!newConfigForm.valid" class="btn btn-fill btn-success" type="submit"><i class="ti-plus"></i> Add</button>
                </div>
              </form>
            </div>
          </div>  
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h2 class="title">Medicine Measure Units<button (click)="goBack()" class="btn btn-fill btn-danger pull-right"><i class="ti-angle-left"></i> Back</button>
              </h2>
              <p class="category">list of all measurement units/sizes</p>
            </div>
            <div class="content">
              <div class="input-group form-group">
                <div class="input-group-addon"><i class="ti-search"></i></div>
                <input class="form-control input-sm" [(ngModel)]="filterQuery" placeholder="Filter By Name"/>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let unit of allMediMesUnit | dataFilter:filterQuery; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{unit.name}}</td>
                    <td><i (click)="showEditMediMesUnitModal(unit.name, unit._id, allConfigs._id);" class="ti-pencil-alt"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- Medi Measure unit ends -->
      <!-- Medi Measure unit mdoal starts -->
      <div class="modal fade" [config]="{backdrop: 'static', keyboard: false}"  bsModal #editMediMesUnitModal="bs-modal" tabindex="-1" role="dialog"
           aria-labelledby="myDepModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="card">
            <div class="header">
              <h4 class="title pull-left">Edit Entry</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditMediMesUnitModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="content">
              <form (ngSubmit)="editMediMesUnit(editConfigForm.value)" [formGroup]="editConfigForm">
                <div class="form-group">
                  
                  <input class="form-control" type="text" [formControl]="editConfigForm.controls['name']" formControlName="name" >
                </div>
                  <button class="btn btn-success btn-block" (click)="hideEditMediMesUnitModal()" type="submit"> update</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
      <!-- Medi Measure unit modal ends -->

    </div>
  </div>
</div>