<p>NOW THE PARTIES TO THIS CONTRACT AGREE TO THE FOLLOWING:</p>

<ol>
  <li>The Contract: The following documents shall be deemed to form and be read and construed as integral part of this Contract, viz: -</li>
</ol>

<p>a. This Contract Form&nbsp;</p>

<p>b. The Schedule of Requirements Annex- A&nbsp;</p>

<p>c. Special Conditions of Contract &amp; the Technical Specifications Annex- B&nbsp;</p>

<p>d. Original Price Schedule along with unsolicited discount offered by the firm (if any) submitted by the Bidder Annex- C&nbsp;</p>

<p>e. The Notification of Award (AAT) Annex- D&nbsp;</p>

<p>f. Payment Schedule Annex- E&nbsp;</p>

<p>g. The General Conditions of Contract Annex- G&nbsp;</p>

<p>h. Performance Guarantee/Security Annex- H&nbsp;</p>

<p>i. The bidding documents of Procuring Agency Annex- I&nbsp;</p>

<p>j. District wise tentative quantity of awarded items Annex- J</p>

<p><strong>Interpretation :</strong> In this Contract words and expressions shall have the same meanings as are respectively assigned to them in the General Conditions of this Contract hereinafter referred to as &quot;Contract&quot;</p>

<p><strong>The Term of the Contract </strong>: This contract shall remain valid for one year from the date of signing, unless amended by mutual consent. The purchaser (s) within the validity of contract period can procure the awarded/contracted goods through repeat order (s) prescribed in rule 59 (c)(iv) of PPR 2014 i.e., upto fifteen percent of the original procurement.</p>

<p><strong>The Supplier declares as under</strong>:&nbsp;</p>

<ol>
  <li>i. <strong>vendor </strong>hereby declares that it has not obtained or induced the procurement of any Contract, right, interest, privilege or other obligation or benefit from Government of Punjab or any administrative subdivision or agency thereof or any other entity owned or controlled by it (Government of Punjab) through any corrupt business practice.</li>
  <li>Without limiting the generality of the foregoing, <strong>vendor</strong> represents and warrants that it has fully declared the brokerage, commission, fees etc, paid or payable to anyone and not given or agreed to give and shall not give or agree to give to anyone within or outside Pakistan either directly or indirectly through any natural or juridical person, including its affiliate, agent, associate, broker, consultant, director, promoter, shareholder, sponsor or subsidiary, any commission, gratification, bribe, finder&#39;s fee or kickback, whether described as consultation fee or otherwise, with the object of obtaining or including the procurement of a Contract, right interest, privilege or other obligation or benefit in whatsoever form from Government of Punjab, except that which has been expressly declared pursuant hereto.</li>
  <li><strong>vendor</strong> certifies that has made and shall make full disclosure of all agreements and arrangements with all persons in respect of or related to the transaction with Government of Punjab and has not taken any action or shall not take any action to circumvent the above declaration, representation or warranty.</li>
  <li><strong>vendor</strong> accepts full responsibility and strict liability for making any false declaration, not making full disclosure, misrepresenting facts or taking any action likely to defeat the purpose of this declaration, representation and warranty. It agrees that any Contract, right, interest, privilege or other obligation or benefit obtained or procured as aforesaid shall, without prejudice to any other right and remedies available to Purchaser (s) /Procuring Agencies under any law, Contract or other instrument, be void able at the option of Procuring Agency.</li>
  <li>Notwithstanding any rights and remedies exercised by Procuring Agency in this regard, <strong>vendor</strong> agrees to indemnify Procuring Agency for any loss or damage incurred by it on account of its corrupt business practices and further pay compensation to Procuring Agency in an amount equivalent to ten time the sum of any commission, gratification, bribe, finder&#39;s fee or kickback given by <strong>vendor </strong>as aforesaid for the purpose of obtaining or inducing the procurement of any Contract, right, interest, privilege or other obligation or benefit in whatsoever form from Purchaser (s) /Procuring Agency (ies).</li>
  <li>In case of any dispute concerning the interpretation and/or application of this Contract shall be settled through arbitration. The Additional Chief Secretary or his nominee shall act as sole arbitrator. The decisions taken and/or award made by the sole arbitrator shall be final and binding on the Parties.</li>
</ol>

<p><strong>Items to be Supplied &amp; Agreed Unit Cost</strong></p>

<ol>
  <li>The Supplier shall provide to the procuring agencies i.e., Provincial &amp;District Health Department&#39;s the items on the agreed cost more specifically described in the Price Schedule Submitted by the Bidder (Annex C).</li>
  <li>Each Items supplied shall strictly conform to the Schedule of Requirements (Annex A) and to the Technical Specification (Annex B) prescribed by the Purchaser against each item.</li>
  <li>The Unit Cost agreed in the Price Schedule (Annex C), is inclusive of all taxation and costs associated with transportation and other agreed incidental costs</li>
</ol>
