<div class="container login">
	<div class="col-md-6 col-md-offset-3" style="margin-top: 80px;">
		<div class="jumbotron">
			<div class="form-group">
				<h3 class="login-title">Med<span>Proc</span></h3>
			</div>
			<div class="input-group form-group">
			  <span class="input-group-addon" id="email"><i class="ti-email"></i></span>
			  <input type="text" class="form-control border-input" [(ngModel)]="email" placeholder="Enter Email" aria-describedby="email">
			</div>
			<div class="input-group form-group">
			  <span class="input-group-addon" id="password"><i class="ti-key"></i></span>
			  <input type="password" class="form-control border-input" [(ngModel)]="password" placeholder="Enter Password" aria-describedby="password">
			</div>
			<div class="form-group">
			  <button type="submit" class="form-control btn-fill btn btn-info" (click)="getCredentials()"><i class="ti-shift-right"></i>&nbsp;&nbsp;Login</button>
			</div>
		</div>	
	</div>
</div>